body{
  background:#010d24;
}

h1{
  color: white;
}

.header-color{
background: rgb(23, 128, 25);  /* fallback for old browsers */ 
background: -moz-linear-gradient(to left top, rgb(23, 117, 25), rgb(15, 109, 15));  /* Firefox 3.6-15, Firefox 16-60 */ 
background: -webkit-linear-gradient(to left top, rgb(14, 94, 15), rgb(15, 80, 12));  /* Chrome 10-25, Safari 5.1-6 */ 
background: linear-gradient(to left top, rgb(13, 88, 14), rgb(16, 94, 16)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logotipo{
  height: 300px;
  width: 300px;
}

label{
  text-align: center;
  color: white;
}